* {
  margin: 0;
  padding: 0;
}

.topLogo {
  width: 240px;
}

body {
  color: hsl(0, 0%, 100%);
  background-image: url("../img/backgroundLp.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container1 {
  width: 470px;
  height: auto;
  background-color: $background-color;
}

.paragraph {
  margin: 10px 0px;
}

.button {
  color: $button-color;
  border: 1px solid $button-color;

  &:hover {
    background-color: $button-color;
    border: 1px solid $button-color;
    color: hsl(0, 0%, 100%);
  }
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);

  &:hover {
    color: #2511ff;
  }
}

@media (max-width: 470px) {
  .topLogo {
    width: 100%;
  }

  .container1 {
    width: 100%;
    height: auto;
    background-color: $background-color;
  }
}
